@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #E94917;
  --secondary-color: #FF7C36;
  --text-color: #000000;
  --accent-color: #F8E0C9;
  --font-family: 'Inter', sans-serif;
}

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%; /* Full viewport height */
  width: 100%;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  z-index: -1; /* Ensure it remains in the background */
}

main {
  flex: 1; /* Allow the main content to grow and push the footer to the bottom */
  overflow-y: auto; /* Ensure main content scrolls if it overflows */
}

header {
  transition: all 0.4s;
}

.header-scrolled {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.logo {
  color: black;
  text-decoration: none;
  margin-right: auto;
}

.logo-img {
  max-height: 40px;
}

.logo-text {
  margin-left: 10px;
  font-size: 1rem;
  font-weight: 600;
}

/* Add a black background color to the top navigation */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  padding: 5px 40px 0 20px;
}

/* Style the links inside the navigation bar */
.navbar a {
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the navbar on small screens */
.navbar .icon {
  display: none;
}

.nav-link {
  color: #333;
  font-size: 1rem;
  margin: 0 15px;
  text-decoration: none;
}

.main-content {
  flex: 1;
  position: relative;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

.hero-text {
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  font-size: clamp(36px, 2.5vw, 72px);
  color: var(--primary-color);
}

.hero-description {
  color: var(--text-color);
  margin: 18px auto;
  width: 60%;
  min-width: 720px;
  font-size: clamp(18px, 1.4vw, 36px);
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 40px auto;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 10px;
  font-size: clamp(16px, 1.2vw, 24px);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

#instagram-btn {
  color: white;
  background-color: var(--primary-color);
}

#instagram-btn:hover {
  background-color: #D24114;
}

#newsletter-btn {
  color: var(--primary-color);
  background-color: var(--accent-color);
}

#newsletter-btn:hover {
  background-color: #F5D5B5;
}

.info-sections {
  margin: 100px 10%;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  visibility: visible;
  opacity: 1;
}

#index-info {
  display: flex;
  justify-content: space-around;
}

.index-card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 400px;
  margin: 0 40px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.index-card img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.index-card div {
  padding: 40px;
}

.index-card h2 {
  margin: 0;
  color: var(--primary-color);
}

.index-card a {
  color: var(--secondary-color);
}

#team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin: 40px auto 0 auto;
  max-width: 1200px;
}

.team-card {
  flex: 0 1 calc(50% - 2rem);
  margin-bottom: 40px;
  padding: 2.5% 5%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  min-width: 300px;
  max-width: 500px;
}

.team-card a {
  color: var(--secondary-color);
}

.teamlead-info {
  margin: 40px auto 0 auto;
  text-align: center;
}

.teamlead-info img {
  display: block;
  margin: 20px auto;
  max-width: 90%;
}

.teamlead-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.teamlead-role {
  margin-top: 10px;
  font-size: 1rem;
  font-style: italic;
}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  text-align: center;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Fix the footer to viewport */
}

body {
  font-family: var(--font-family);
  background-color: white;
  color: var(--text-color);
  margin: 0;
}

h1, h2 {
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .card a:hover {
  opacity: 0.7;
}

/* Horizontal breakpoint for tablets (1024px and under) */
@media (max-width: 1024px) {
  .navbar {
    padding: 14px 5px;
  }

  .hero-title {
    font-size: clamp(24px, 3.2vw, 36px);
  }
  
  .hero-description {
    font-size: clamp(18px, 1.2vw, 24px);
  }
  
  .button {
    font-size: clamp(16px, 1vw, 24px);
  }

  .info-sections {
    flex-direction: column;
    align-items: center;
    margin: 60px 5%;
  }

  .index-card {
    margin-bottom: 60px;
  }

  #team-cards {
    gap: 1rem;
  }

  .team-card {
    flex: 0 1 calc(50% - 1rem);
    min-width: unset;
  }
}

/* Vertical breakpoint for tablets (768px and under) */
@media (max-width: 768px) {
  .navbar {
    padding: 5px 20px 10px 20px;
    background-color: white;
  }
  
  .navbar a:not(:first-child) {
    display: none;
  }
  
  .navbar a.icon {
    float: right;
    display: block;
  }

  .navbar.responsive {
    position: relative;
    display: block;
  }

  .navbar.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 17px;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    margin: 0;
    text-align: left;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .hero-text {
    position: relative;
    top: 50px;
    width: 100%;
    max-width: 100%;
  }

  .hero-title {
    font-size: clamp(24px, 8vw, 36px);
    padding: 0 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .hero-description {
    width: 90%;
    min-width: unset;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    width: 300px;
    font-size: 16px;
  }

  .info-sections {
    padding: 0;
    margin: 60px 40px 0 40px;
  }

  .index-card {
    width: 100%;
  }

  #team-cards {
    flex-direction: column;
    align-items: center;
  }

  .team-card {
    padding: 20px 30px;
    width: 100%;
  }
}

/* Breakpoint for phones (480px and under) */
@media (max-width: 480px) {
  .hero {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-text {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-title {
    margin: 20px 0;
    padding: 0;
    width: auto;
    max-width: 100%;
    font-size: clamp(24px, 6.4vw, 40px);
  }

  .hero-description {
    margin: 15px 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
  }

  .header, .footer {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    display: none;
  }
}

.footer ul {
  display: flex;
  gap: 10px;
}
