@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #E94917;
  --secondary-color: #FAFAFA;
  --text-color: #000000;
  --accent-color: #FFA726;
  --font-family: 'Inter', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it remains in the background */
}

main {
  flex: 1; /* Allow the main content to grow and push the footer to the bottom */
  overflow-y: auto; /* Ensure main content scrolls if it overflows */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.logo-img {
  max-width: 50px;
}

.logo-text {
  margin-left: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link {
  color: white;
  font-size: 1rem;
  margin: 0 10px;
  text-decoration: none;
}

.toggle-btn {
  display: none;
}

.hero {
  display: flex;
  padding: 50px 40px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.left {
  max-width: 600px;
}

.hero-title {
  font-size: 2rem;
  color: var(--primary-color);
}

.hero-description, .hero-link {
  color: var(--text-color);
  font-size: 1rem;
}

.hero-link a {
  color: var(--primary-color);
}

.panel-img {
  max-width: 300px;
}

.info-sections {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0px 4px 12px rgba(255, 115, 1, 0.4);
}

.card h2 {
  color: var(--primary-color);
}

.card a {
  color: var(--accent-color);
}

.main-content {
  flex: 1;
  position: relative;
  padding-bottom: 5vh; /* Add padding to prevent content overlap with footer */
}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  text-align: center;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Fix the footer to viewport */
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
}

h1, h2 {
  color: var(--primary-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .card a:hover {
  opacity: 0.7;
}

.info-sections {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 2rem;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .panel-img {
    margin-top: 2rem;
  }

  .info-sections {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .header, .footer {
    flex-direction: column;
    text-align: center;
  }

  .toggle-btn {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none;
  }
}

.footer ul {
  display: flex;
  gap: 10px;
}
